<!DOCTYPE html>
    <html>
    <head>
        <title></title>
    </head>
    <body>
        <h1 class="mb-5">Add</h1>

        <form method="post" action="/Product/Add">
        <div class="mb-3">
            <input type="text" name="Name" placeholder="Product name" class="form-control" />
        </div>
        <div class="mb-3">
            <textarea placeholder="Product description..." name="Description" class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <input type="text" name="Price" placeholder="Product price" class="form-control" />
        </div>
        <div>
            <button class="btn btn-outline-primary" type="submit">Save</button>
        </div>
        </form>

    

    
    </body>
    </html>