<!DOCTYPE html>
    <html>
    <head>
        <title></title>
    </head>
    <body>
        
        <h1>Details:</h1>
        <h2>Name: @Model.Name</h2>
        <p>Description: @Model.Description</p>
        <p>Price: @Model.Price</p>
    </body>
    </html>
